@import './base.scss';

@mixin flex-style {
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 通用的按钮样式 */
@mixin btn-common {
    height: 2.143em;
    line-height: 2.143em;
    font-size: 0.875em;
    border-radius: 1.786em;
    padding: 0 2.857em;
}

/* 主要的按钮样式  */
@mixin btn-primary{
    color: $my_main_color;
    background: $main_color;
    border: none;
    @include btn-common()
}

.btn-primary{
    @include  btn-primary();
}

/* 虚线框 */
@mixin btn-dashed-radius{
    border: 0.0625em dashed $border_color;
    border-radius: 1.5625em;
}

/* 带虚线框的按钮样式 */
@mixin btn-dashed{
    color: $main_color;
    background: $my_main_color;
    @include btn-dashed-radius();
    @include btn-common();
   
}

.btn-dashed{
    @include btn-dashed();
}

.logout{
    width: 6.25em;
    height: 1.5625em;
    display: inline-block;
    border: 0.0625em dashed $my_main_color;
    border-radius: 1.5625em;
    vertical-align: middle;
}

.logout-content{
    display: inline-block;
    margin-left: -6.125em;
    .logout-admin{
        padding-right: 10px;
        span{
            font-size: 0.875em;
            color: $my_main_color
        }
    }
}

/* 标题文字 */
.title-font{
    padding-left: 10px;
    color: $main_color;
    font-weight: 500;
    background: url('~@/assets/imgs/title.png') no-repeat;
}



