@import './base.scss';

@mixin flex-style {
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 背景为灰色的虚线框 */
@mixin gray-dashed {
    border: 1px dashed $border_color;
    background: $my_main_color;
}

.date {
    height: 198px;
    margin-top: 10px;
    @include gray-dashed();
    min-height: 190px;
}

.input-title {
    position: relative;
    left: 35px;
    top: 10px;
    font-size: 12px;
    color: $font_secondary_color;
    background: $my_main_color;
    z-index: 999;
}

.face-result{
    @include gray-dashed();
    .face-img {
        position: relative;
        display: inline-block;
        @include gray-dashed();
        margin: 10px 0 10px 10px;
        padding: 5px;
    }
    .image{
        width: 163px
    }
    .compare{
        position: absolute;
        right: 15px;
        bottom: 50px;
    }
    .face-img-time{
        text-align: center;
        font-size: 12px;
        padding: 10px 0;
        color: $font_secondary_color;
    }    
}
/* 通用的按钮样式 */
@mixin btn-common {
    height: 2.143em;
    line-height: 2.143em;
    font-size: 0.875em;
    border-radius: 1.786em;
    padding: 0 2.143em;
}

/* 主要的按钮样式  */
@mixin btn-primary{
    color: $my_main_color;
    background: $main_color;
    border: none;
    @include btn-common()
}

.btn-primary{
    @include  btn-primary();
}

/* 虚线框 */
@mixin btn-dashed-radius{
    border: 0.0625em dashed $border_color;
    border-radius: 1.5625em;
}

/* 带虚线框的按钮样式 */
@mixin btn-dashed{
    color: $main_color;
    background: $my_main_color;
    @include btn-dashed-radius();
    @include btn-common();
   
}

@mixin group {
    display: flex;
    justify-content: space-between;
    padding: 0.714em 1.071em;
}

.btn-group {
    @include group();
}
  
.img-group{
    position: relative;
    @include group();
}

.img-tip {
    position: absolute;
    font-size: 0.875em;
    color: lemonchiffon;
    top: 0.714em;
    left: 35%;
    padding: 0.357em 0.714em;
    background-color: rgba(0, 0, 0, 0.5);
  }

.btn-dashed{
    @include btn-dashed();
}

.logout{
    width: 6.25em;
    height: 1.5625em;
    display: inline-block;
    border: 0.0625em dashed $my_main_color;
    border-radius: 1.5625em;
    vertical-align: middle;
}

.logout-content{
    display: inline-block;
    margin-left: -6.125em;
    .logout-admin{
        padding-right: 10px;
        span{
            font-size: 0.875em;
            color: $my_main_color
        }
    }
}

/* 标题文字 */
.title-font{
    padding-left: 10px;
    color: $main_color;
    font-weight: 500;
    background: url('~@/assets/imgs/title.png') no-repeat;
}



