@import './base.scss';

@mixin flex-style {
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout{
    width: 6.25em;
    height: 1.5625em;
    display: inline-block;
    border: 0.0625em dashed $my_main_color;
    border-radius: 1.5625em;
    vertical-align: middle;
}

.logout-content{
    display: inline-block;
    margin-left: -6.125em;
    .logout-admin{
        padding-right: 10px;
        span{
            font-size: 0.875em;
            color: $my_main_color
        }
    }
}

/* 标题文字 */
.title-font{
    padding-left: 10px;
    color: $main_color;
    font-weight: 500;
    background: url('~@/assets/imgs/title.png') no-repeat;
}