
$main_color:#155cec;            // 主色
$secondary_color:#29aafe;       // 辅色

// 文字
$font_main_color:#000000;       // 文字主色
$font_secondary_color:#8e8e8e;  // 文字辅色
$font_size_16:16px;
$font_size_12:12px;

